@import "bower_components/bootstrap/less/bootstrap.less";
// @import (less) "bower_components/foundation/css/foundation.css";
// @import (less) "bower_components/foundation/css/normalize.css";
@import "bower_components/font-awesome/less/font-awesome.less";

h1 {
  font-size: 50*2px;
}

.call-history {
  margin-left: -15px;
  overflow: auto; }

.invocation-container {
  margin-left: 15px;
}

.invocation {
  margin-bottom: 10px;
}


.triangle {
  display: inline-block;
  border-style: solid;
  width: 0;
  height: 0;
}

.closed {
  margin-right: 7px;
  border-width: 5px 0 5px 8.7px;;
  border-color: transparent transparent transparent #6b6b6b;
}

.open {
  margin-right: 5px;
  border-width: 8.7px 5px 0 5px;
  border-color: #6b6b6b transparent transparent transparent;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
