// @import "bower_components/bootstrap/less/bootstrap.less";
@import (less) "bower_components/foundation/css/foundation.css";
@import (less) "bower_components/foundation/css/normalize.css";
@import "bower_components/font-awesome/less/font-awesome.less";

h1 {
  font-size: 50*2px;
}

.call-history {
  margin-left: -15px;
  overflow: auto;
}

.invocation-container {
  margin-left: 15px;
}

.invocation {
  margin-bottom: 10px;
}
